<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M-IT Consult</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    {% extends 'learning_logs/base.html' %}
    {% block content %}
    <div data-bs-theme="dark" class="p-3 text-body bg-body">
        <h1>Hi, I am Jean-Christophe Miler 👋</h1><br>
        {% load static%}
        <img src="{% static 'learning_logs/Me.png' %}" alt=""></div><br>
        <div id="barre"></div><br>
    <div class="row">
        <div class="col">
            <h2>What I Do</h2><br>
            <p><ul><li>Software Installation 💾</li>
            <li>Support & Service 💻</li>
            <li>Python Dev 🐍 ("Software, Web")</li></ul></p>
                </div>
    <div class="col">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_w51pcehl.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    </div>
        </div>
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_y7xcP4oERZ.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
    </div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❄</div>
    {% endblock content %}
</body>
</html>